<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments/fragements :: head}"></head>
<body>
<div class="main-wrapper">
  <div th:replace="~{fragments/fragements :: header}"></div>
  <div th:replace="~{fragments/fragements :: sidebar}"></div>
  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row">
          <div class="col-sm-7 col-auto">
            <h3 class="page-title" th:text="*{page_title}"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Branch</a></li>
              <li class="breadcrumb-item active" th:text="${page_title}"></li>
            </ul>
          </div>
          <div class="col-sm-5 col">
            <a th:href="@{add-branch}" class="btn btn-primary float-right mt-2">Add</a>
          </div>
        </div>
      </div>
      <!-- /Page Header -->
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="datatable table table-stripped" id="customers-table">
                  <thead>
                  <tr>
                    <th>Branch Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="branches : ${branches}">
                    <td th:text="${branches.name}"></td>
                    <td th:text="${branches.email}"></td>
                    <td th:text="${branches.phone}"></td>
                    <td th:text="${branches.address}"></td>
                    <td>
                      <span th:if="${status == 'active'}" class="badge badge-pill bg-success inv-badge">Active</span>
                      <span th:unless="${status == 'active'}" class="badge badge-pill bg-danger inv-badge">Inactive</span>
                    </td>
                    <td class="text-right">
                      <div class="actions">
                        <a th:href="@{/edit-branch/{id}(id = ${branches.id})}" class="btn btn-sm bg-success-light">
                          <i class="fe fe-pencil"></i> Edit
                        </a>
                        <a th:href="@{/remove-branch/{id}(id = ${branches.id})}" class="btn btn-sm bg-danger-light">
                          <i class="fe fe-trash"></i> Delete
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Wrapper -->
</div>
<th:block th:replace="~{fragments/fragements :: scripts}"></th:block>
<script>
  $(document).ready(function() {
    $.ajax({
      url: "/customers",
      type: "GET",
      success: function(data) {
        //$("#customers-table tbody").html(data);
      },
    });
  });
</script>
</body>
</html>